*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container-fluid{
    width: 100%;
 
}

.app{
    height: 100vh;
}

.app main{
    height: calc(100vh - 90px);
    
}



main .sidebar{
    background-color: black;
    height: calc(100vh - 90px);
    min-height: 200px;
    color: white;
    padding-left: 17px;
    font-size: 12px;
    position: relative;
}

main .content{
    background-color: #141922;
    overflow-y: scroll;
    height: 100%;
    flex-grow: 1;

    
    
}

.example{
    height: 80px;
    width:100%;
    margin: 0 auto;
    background-color: teal;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-menu ul {
    display: flex;
    color: white;
    justify-content: center;
    
}
.nav-menu ul li {
    padding: 20px 10px;
    
}
h3{
    margin-left: 20px;
    margin-top: 10px;
}

.album{
    width: calc(100% / 6 - 15px);
    display: flex;
   

}
.album img{
  
}

.title-album{
  
  
    
   
}

.down-aside{ 
   position: absolute;
   bottom: 10px;
    vertical-align: middle;
    width: 80%;
    background-color: black;
   

    
}

.example a{
    
    border: 3px solid white;
    
    margin-right: 30px;
    border-radius: 50px;
    color: white;
    
    font-size: 15px;
    text-decoration: none;
    display: inline-block;
    padding: 15px;
    
  
}

 .logo{
    height: 40px;
}

ul{
    list-style: none;
}

.logotesto{
    padding-top:5px;
}

.list-top{
    padding: 15px 0px;
}

.list-top img {
    height: 25px;
    vertical-align:text-bottom;
}

.top-aside ul li{
padding:10px 0px;
}



.playlist ul li{
    margin:15px 0px;
}

.plus{
    font-size: 30px;
    vertical-align: middle;
    padding: 0px 5px 0px 0px;
}

.ruleside{
   width:100%
}

.user{
    height: 18px;
    background-color: lightgray;
    border-radius: 50px;
    vertical-align: text-bottom;
}

.app footer{
    background-color: #282828;
    height: 90px;
    width: 100%;
    z-index: 1010;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.bottom-nav>div{ 
    border: 1px solid white;
    
}

.leftnav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 230px;
  
}

.leftnav>img{
    width: 60px;
}

.white{
    color: white;

}
.icon-preference>i{
    padding:0px 5px 0px 0px
}

.middlenav{
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    display: flex;

}
.icons-mid div{
    margin-bottom: 10px;
    display: flex;
    
}
.line-player{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    
}

.line-player div:nth-child(2){
    border-top: 4px solid white;
    flex-basis: 5%;
}
.line-player div:nth-child(3){
    border-top: 4px solid lightgray;
    flex-basis: 45%;
}

.line-player>div{
    display: inline-block;
}
.line-player div:nth-child(1){
    margin: 0px 30px;
}

.line-player div:nth-child(4){
    margin: 0px 30px;
}


.rightnav{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-basis: 230px;
}


.lineplayer-right div:nth-child(1){
    border-top: 4px solid white;
    
    width: 20px;
    
}

.lineplayer-right div:nth-child(2){
    border-top: 4px solid lightgray;
    
    width: 50px;
    
}
.lineplayer-right>div{
    display: inline-block;
}

.lineplayer-right {
    display: flex;
    margin:7px 0px 0px 10px;
}


